# Server
PORT=3000
NODE_ENV=development
SESSION_SECRET=bioteknologi_nasional_secret_key_2024

# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=biotek_nasional

# Email SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=noreply@bioteknasional.id
EMAIL_NAME=PT BioTeknologi Nasional

# App
APP_URL=http://localhost:3000
APP_NAME=PT BioTeknologi Nasional

# Upload
MAX_FILE_SIZE=5242880
UPLOAD_PATH=./uploads
